<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
<meta name="keywords" content="WiOrange微橙移动广告平台是橙子互动旗下的广告投放平台">
<meta name="description" content="WiOrange微橙移动广告平台是橙子互动旗下的广告投放平台" />
<meta http-equiv="Cache-Control" content="no-transform">
<meta http-equiv="Cache-Control" content="no-siteapp">
<link rel="icon" href="__COMMONIMG__/fav.ico" type="image/x-icon">
<title>微橙，让每一个商户方便快速接入主流移动支付</title>	
<link href="__CSS__/Index/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="__CSS__/common/main.css" type="text/css" rel="stylesheet" media="screen,projection"/>

<block name="style"></block>
<block name="script"></block>
