<extend name="Base/common"/>
<block name="body">
	<section id="hero">
		<div class="row"></div>
	</section>
	<div class="wrapper">
			<!--优势服务-->
			<div class="membership">
				<div class="row">
					<div class="top_section col s12">
						<h3>优势服务</h3>
						<p><img src="__IMG__/home/youshi.png" /></p>						
					</div>
				</div>
			</div>

			<div class="divider"></div>
			
			<!--投放案例-->
			<div class="membership">
				<div class="row">
					<div class="top_section col s12">
						<h3>投放案例</h3>
						<p><img src="__IMG__/home/anli.png" /></p>						
					</div>
				</div>
			</div>
	
			<!--合作伙伴-->
			<div class="membership">
				<div class="row">
					<div class="top_section col s12">
						<h3>合作伙伴</h3>
						<p><img src="__IMG__/home/huoban.png" /></p>						
					</div>
				</div>
			</div>
	
			<div class="divider"></div>

			<div class="divider hide-on-med-and-up"></div>
	
			<section id="testimonial">
				<h3>合作案例</h3>
				<div class="row">
					<div class="col s12 m4 l4 ">
						<img src="img/img_three.png" />
					</div>
					<div class="hide-on-small-only col s12 m4 l4 ">
						<img src="img/img_two.png" />
					</div>
					<div class="hide-on-small-only col s12 m4 l4 ">
						<img src="img/img_one.png" />
					</div>
					<p>提高消费者体验的同时</br>让线下商户真实感受到移动支付的强大优势</p>
				</div>
				<div class="row">
					<div class="hide-on-small-only col s12 m4 l4 ">
						<img src="img/img_four.png" />
					</div>
					<div class="col s12 m4 l4 ">
						<img src="img/img_five.png" />
					</div>
					<div class="hide-on-small-only col s12 m4 l4 ">
						<img src="img/img_six.png" />
					</div>
					<p>将官方活动与电影元素相结合</br>为商户打造独一无二的主题营销活动</p>
				</div>
			</section>
			<section id="payment" class="hide-on-small-only"></section>	
			<div class="divider"></div>
			<div class="mobile-tab">
				<a href="#" class="download-now hide-on-med-and-up">下载客户端</a>
				<a href="#" target="_blank" class="apply-now hide-on-med-and-up">商户申请</a>			
			</div>
	</div>
</block>
<block name="bottomScript">
	<include file="Public/var" />
</block>

